<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <p>You have received an email message from the sites notification application
          <%= "#{@name}, #{@email}" %>
        </p>
        <p><%= @comments %></p>
    </body>
    
    
    
    
</html>